.linea azul {
    background-color: blue;
    width: 100px;
    height: 50px; 
}

.linea roja{
    width: 10px;
    height: 10px;
}

.linea verde{
    width: 10px;
    height: 10px;
}

.linea morada{
    width: 10px;
    height: 10px;
}